.app{
    font-family: 'Fjalla One', sans-serif;
}
header {
    width:70%; 
    margin: auto;
	overflow:hidden; 
    background-color: #fff;
    margin-bottom:20px;
    
}

.container{
    width: 100%;
    margin: auto;
    overflow:hidden; 
    padding: 20px;
    
}